$default_color: black;
$default_font: 'Open Sans', sans-serif;
$dark-blue: #323a45;
$link: #14b9d5;
$link-hover: #0c6c7c;
$light-grey: #e3e8ee;
$almost-white: #f2f5fa;


body {
  font: 14px/20px $default_font;
  padding: 0;
  margin: 0;
  background-color: #e5e8ed;
  color: $dark_blue;
}

section {
  margin: 10px 20px;
}

address {
  background-color: $light-grey;
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  a {
   font-style: normal;
   color: $dark_blue;
   text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $light-grey;
    li {
      margin-right: 15px;
      display: inline-block;
      color: $dark_blue;
    }
  }
}

.wrapper {
  background-color: $almost-white;
  section {
    padding: 10px 0 0;
  }
}

article {
  padding-bottom: 10px;
  border-bottom: 4px solid $light-grey;
  margin-bottom: 30px;

  ul {
    padding-left: 20px;
    li {
      margin-bottom: 5px;
    }
  }
}

h1,h2 {
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  background-color: $dark-blue;
  color: #ffffff;
  padding: 20px;
  margin: 0;
}

h2 {
  margin-top: 40px;
  color: #f26522;
}

p:first-of-type {
  margin-top: 20px;
  line-height: 28px;
}

a {
  color: $link;
  text-decoration: none;
  transition: color 0.5s ease;
  &:hover {
    color: $link-hover;
  }
}

dl {
  margin: 0;

  dt {
    display: none;
  }

  dd {
    margin: 0;
    display: inline;
  }
}

section.education dl dd {
  font-weight: normal;

  &.award:after, &.award_date:before {
    content: " - ";
  }
}

section.experience dl {
  dd {
    margin: 0;
    display: inline;
    font-weight: 700;
    font-size: 14px;

    &.job_title {
      text-transform: uppercase;
      :after {
        content: ", ";
      }
    }

    &.organisation:before, &.start_date:before {
      content: "\A";
      white-space: pre;
    }

    &.end_date:before {
      content: " - ";
    }
  }
}

@media print {
  * {
    background: transparent !important;
    font: 12px/14px $default_font;
    color: #000000 !important;
  }
  @page {
    margin: 0.75cm;
  }
  address ul {
    padding: 0;
  }
  p, p:first-of-type {
    orphans: 3;
    widows: 3;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    margin: 20px 0 15px;
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  article {
    margin-bottom: 10px;
    padding-bottom: 0;
    border: 0;
  }
  ul li {
    margin-bottom: 0;
    line-height: 14px;
  }
}
