%html
  %head
    %title Resume - Brenton J. Annan 
    %link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")/
    %link(rel="stylesheet" type="text/css" href="resume.css")/
    %link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")/
  %body
    %h1 Brenton J. Annan
    %section.contact
      %address
        %ul
          %li
            %i.fa.fa-envelope-o.fa-lg
            %a(href="mailto:brentonannan@brentonannan.com")brentonannan@brentonannan.com
          %li

            %i.fa.fa-phone.fa-lg
            %a(href="tel:+61425341852")0425 341 852
          %li.github
            %i.fa.fa-github.fa-lg
            %a(href="http://github.com/brentonannan")brentonannan
    %section.education
      %dl
        %dt.award Award
        %dd.award B. Sci (Computer Science), B. Sci. (Mathematics)
        %dt.organisation Organisation
        %dd.organisation UNSW
        %dt.award_date Date
        %dd.award_date
          %time(datetime="2008-07") Jul 2008
    .wrapper
      %section.synopsis
        %p I am a Web Developer with nine years experience, ranging from the frontend through to server administration, with my strongest interest being in backend application development. I enjoy the challenges of developing quality software, especially working in cooperation with other developers to deliver excellent user experiences. I've worked in varied environments; both independent and in small and large teams, in-office and remote, and am passionate about finding solutions to encourage team collaboration. I am looking for a strong team environment to contribute to, in terms of both implementing technological solutions to interesting problems, and working to advance team culture, most particularly with regards to remote work and how teams deal with the issues surrounding remote workers.

      %section.experience
        %article
          %dl
            %dt.job_title Job Title
            %dd.job_title Contract Web Developer
            %dt.job_description Job Description
            %dd.job_description Elixir/Phoenix
            %dt.organisation Organisation
            %dd.organisation 365 Roadside Assistance
            %dt.start_date Start Date
            %dd.start_date
              %time(datetime="2015-10") Oct 2015
            %dt.end_date End Date
            %dd.end_date
              %time(datetime="2017-02") Feb 2017
          %ul
            %li Delivered production ready management applications with multiple interfaces: GraphQL API for iOS customer client, browser-based admin interface, Twilio-based telephone job management
            %li Liaised directly with business stakeholders to define technological requirements and business rules
            %li Matched application schema to business domain objects, with a focus on developing a ubiquitous language
            %li Designed job management application to be fault-tolerant to reliably service customer help requests
            %li Deployed CI, staging, and production infrastructures using Terraform on AWS across multiple availability zones
            %li Documented infrastructure and application structure, and handed over development to new contractors

        %article
          %dl
            %dt.job_title Job Title
            %dd.job_title Web Developer
            %dt.job_description Job Description
            %dd.job_description Ruby on Rails
            %dt.organisation Organisation
            %dd.organisation Blake Education
            %dt.start_date Start Date
            %dd.start_date
              %time(datetime="2013-09") Sept 2013
            %dt.end_date End Date
            %dd.end_date
              %time(datetime="2015-10") Oct 2015
          %p
          %ul
            %li Extended all retail products to allow wholesale distribution in Australia, New Zealand, the US, and the UK
            %li Led the adoption of modular programming practices, dramatically reducing code replication in very large codebases
            %li Shipped a number of new products as part of small product-oriented teams
            %li Mentored junior developers, both in-person and remotely

        %article
          %dl
            %dt.job_title Job Title
            %dd.job_title Web Developer
            %dt.organisation Organisation
            %dt.job_description Job Description
            %dd.job_description Ruby on Rails/PHP
            %dd.organisation Computer Science and Engineering, UNSW
            %dt.start_date Start Date
            %dd.start_date
              %time(datetime="2011-10") Oct 2011
            %dt.end_date End Date
            %dd.end_date
              %time(datetime="2013-06") Jun 2013

          :markdown
            - Assessed existing web and database systems, planned and implemented an incremental migration from PHP/FileMaker to Ruby on Rails/MySQL whilst maintaining existing FileMaker frontend
            - Developed a bespoke authorisation gem for fine-grained access control in Rails applications
            - Shipped an independent Ruby on Rails application for enrolling students into summer/winter courses
        %article
          %dl
            %dt.job_title Job Title
            %dd.job_title Web Developer
            %dt.job_description Job Description
            %dd.job_description PHP/Django
            %dt.organisation Organisation
            %dd.organisation Netregistry Pty Ltd
            %dt.start_date Start Date
            %dd.start_date
              %time(datetime="2009-12") Dec 2009
            %dt.end_date End Date
            %dd.end_date
              %time(datetime="2010-11") Nov 2010
          :markdown
            - Designed and shipped custom Django CMS for flagship [netregistry](http://www.netregistry.com.au/) brand website
            - Developed various Django plugins: a configurable A/B testing ad and offer server; CMS-defined forms with templated email responses; full-text searchable customer support centre
            - Maintained various PHP based websites for subsidiary brands

        %article
          %dl
            %dt.job_title Job Title
            %dd.job_title Software Specialist
            %dt.organisation Organisation
            %dd.organisation Computer Science, UMass Amherst, MA USA
            %dt.start_date Start Date
            %dd.start_date
              %time(datetime="2008-08") Aug 2008
            %dt.end_date End Date
            %dd.end_date
              %time(datetime="2009-09") Sept 2009
          :markdown
            - Designed and developed an Annual Faculty Review web application in the Django MVC framework
            - Repaired and expanded malfuntioning PHP/MySQL publication repository web application
            - Maintaned and developed Drupal CMS based website, including custom module development
            - Contributed to the Apple iCal2 Server project, later taken over by Google
